:root {
   /* LIGHT MODE */
   --brand-light: orange;
   --text1-light: hsl(210, 2%, 10%);
   --text2-light: hsl(210, 2%, 15%);
   --text3-light: hsl(210, 2%, 20%);
   --surface1-light: hsl(210, 2%, 90%);
   --surface2-light: hsl(210, 2%, 85%);
   --surface3-light: hsl(210, 2%, 75%);
   --surface4-light: hsl(210, 2%, 65%);
   /* DARK MODE */
   --brand-dark: orange;
   --text1-dark: hsl(210, 2%, 90%);
   --text2-dark: hsl(210, 2%, 80%);
   --text3-dark: hsl(210, 2%, 75%);
   --surface1-dark: hsl(210, 20%, 10%);
   --surface2-dark: hsl(210, 2%, 15%);
   --surface3-dark: hsl(210, 2%, 25%);
   --surface4-dark: hsl(210, 2%, 35%);
   /* COLOR MODE PREFERENCE: */
   color-scheme: light;
}
@media only screen and (prefers-color-scheme: light) {
   :root {
      --brand: var(--brand-light);
      --text1: var(--text1-light);
      --text2: var(--text2-light);
      --text3: var(--text3-light);
      --surface1: var(--surface1-light);
      --surface2: var(--surface2-light);
      --surface3: var(--surface3-light);
      --surface4: var(--surface4-light);
   }
}
@media only screen and (prefers-color-scheme: dark) {
   :root {
      --brand: var(--brand-dark);
      --text1: var(--text1-dark);
      --text2: var(--text2-dark);
      --text3: var(--text3-dark);
      --surface1: var(--surface1-dark);
      --surface2: var(--surface2-dark);
      --surface3: var(--surface3-dark);
      --surface4: var(--surface4-dark);
   }
}
